---
layout: default
---

<aside class="sidebar">
<div class="sidebar-container">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="/"><img src="/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <div class="author-subtitle">PhD student in applied mathematics and computer science</div>
    </div>
  </header> <!-- End Header -->
  <nav id="sidebar">
      <ul class="list-unstyled" style="margin-top: -18px">
          <li>
              <a href="/"><span class="icon"><i class="fas fa-home"></i></span>Home</a>
          </li>
          <li>
              <a href="/page_biography"><span class="icon"><i class="fas fa-info-circle"></i></span>Biography</a>
          </li>
          <li>
              <a href="/page_publications"><span class="icon"><i class="fas fa-book"></i></span>Publications</a>
          </li>
          <li>
              <a href="/page_communication"><span class="icon"><i class="fas fa-microphone"></i></span>Communication</a>
          </li>
          <li>
              <a href="/page_teaching"><span class="icon"><i class="fas fa-university"></i></span>Teaching</a>
          </li>
          <li>
              <a href="/page_side_projects"><span class="icon"><i class="fas fa-flask"></i></span>Side projects</a>
          </li>
          <!--
          <li>
              <a href="#subMenuPub"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed"><span class="icon"><i class="fas fa-folder"></i></span>Other</a>
              <ul class="collapse list-unstyled" id="subMenuPub"  style="margin-bottom: 10px">
                  <li><a href="/page_teaching"><span class="icon"><i class="fas fa-university"></i></span>Teaching</a></li>
                  <li><a href="/page_ressources"><span class="icon"><i class="fas fa-folder"></i></span>Resources</a></li>
                  <li><a href="/page_news"><span class="icon"><i class="fas fa-newspaper"></i></span>All news</a></li>
              </ul>
          </li>
          -->
      </ul>
  </nav>


    <div class="quote-title-container" style="font-family: 'Brush Script MT', cursive; font-size: 25px; color: #000000;">Today's random quote</div>
    <div class="quote-container">
        <script>TheySaidSo.render({ qod_category : 'inspire'})</script>
    </div>


  <footer>
    <section class="contact">
        <h3 class="contact-title">Contact me</h3>
      <ul>
        {% if site.social-researchgate %}
          <li><a href="https://www.researchgate.net/profile/{{ site.social-researchgate }}" target="_blank"><i class="fab fa-researchgate icon-contact" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-scholar %}
          <li><a href="https://scholar.google.com/citations?hl=en&user={{ site.social-scholar }}" target="_blank"><i class="fab fa-google icon-contact" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-twitter %}
          <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fab fa-twitter icon-contact" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-facebook %}
          <li><a href="https://facebook.com/{{ site.social-facebook }}" target="_blank"><i class="fab fa-facebook icon-contact" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-github %}
          <li class="github"><a href="http://github.com/{{site.social-github}}" target="_blank"><i class="fab fa-github icon-contact"></i></a></li>
        {% endif %}
        {% if site.social-linkedin %}
          <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><i class="fab fa-linkedin icon-contact"></i></a></li>
        {% endif %}
        {% if site.social-email %}
          <li class="email"><a href="mailto:{{site.social-email}}"><i class="far fa-envelope icon-contact"></i></a></li>
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} <a href="https://analytics.google.com/analytics/web/#/p288006645/" style="color: black;">&copy;</a> {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</div>
</aside> <!-- End Sidebar -->

<div class="content-box clearfix">
  {{ content }}
</div>

